<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/abouts.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <title>KNOW MORE ABOUT US</title>
</head>

<body style="user-select: none !important;">
  <div style="height: 65px;">
    <%- include ("navbar.ejs") %>
  </div>



  <section class="about" id="about">
    <h1 class="heading"><span>about us</span></h1>
    <div class="row">

      <div class="content">
        <h3>Welcome.</h3>
        <p>Launched in 2021.<span style="text-decoration: underline !important;">"Created by Suryawanshi Ranjit"</span>,
          <span class="span0">Property</span><span class="span1">Expert.com</span>, India’s No. 1
          property portal, deals with every aspect of the consumers’ needs
          in the real estate industry. It is an online forum where buyers, sellers and brokers/agents can exchange
          information about real estate properties quickly, effectively and inexpensively. At <span
            class="span0">Property</span><span class="span1">Expert.com</span>, you can
          advertise a property, search for a property, browse through properties, build your own property microsite, and
          keep yourself updated with the latest news and trends making headlines in the realty sector.</p>
        <a href="/properties"> <button class="btnn">Browse Home <i class="fas fa-arrow-circle-right"></i></button> </a>
      </div>
      <div class="image">
        <img src="/images/about.jpg">
      </div>
    </div>
  </section>

  <h1 class="heading"><span>Our Team</span></h1>
  <div class="wrapper">
    <h1>One does not simply "MAKE THE DREAM WORK"... Without The TEAMWORK</h1>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img style="border-radius: 50%;" src="/images/agents/srk.jpg" alt="Team_image">
        </div>
        <h3>Suryawanshi Ranjit</h3>
        <p class="role">full stack developer</p>
        <p>A Full Stack developer is responsible for front and back-end web development.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img style="border-radius: 50%;" src="https://i.imgur.com/jQj1I8E.png" alt="Team_image">
        </div>
        <h3>Rosie Meg</h3>
        <p class="role">Chief Executive Officer</p>
        <p>making major corporate decisions, managing the overall operations and resources of a company,
          acting as the main point of communication between the board of directors (the board) and
          corporate.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img style="border-radius: 50%;" src="https://i.imgur.com/2Necikc.png" alt="Team_image">
        </div>
        <h3>Alex Wood</h3>
        <p class="role">Market Department Head</p>
        <p>promote a business, product, or service. ... Marketing managers often plan and oversee a broad range of
          activities, including launches, advertising, email campaigns, events, and social media.</p>
      </div>
    </div>
  </div>

  <section class="agents" id="agents">

    <h1 class="heading"><span>Agents</span></h1>

    <div class="box-con">

      <div class="box">
        <div class="image"> <img src="images/agents/4.jpg"></div>
        <div class="info">
          <h3>James</h3>
          <p style="text-align: center;">HEAD AGENT</p>
          <div class="share" style="text-align: center ; width: 100%;">
            <a style="cursor: pointer;" class="fab fa-facebook-f"></a>
            <a style="cursor: pointer;" class="fab fa-pinterest"></a>
            <a style="cursor: pointer;" class="fab fa-instagram"></a>
            <a style="cursor: pointer;" class="fab fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image"> <img src="images/agents/1.jpg"></div>
        <div class="info">
          <h3>Isabella</h3>
          <p style="text-align: center;">HEAD AGENT</p>
          <div class="share" style="text-align: center ; width: 100%;">
            <a style="cursor: pointer;" class="fab fa-facebook-f"></a>
            <a style="cursor: pointer;" class="fab fa-pinterest"></a>
            <a style="cursor: pointer;" class="fab fa-instagram"></a>
            <a style="cursor: pointer;" class="fab fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image"> <img src="images/agents/3.jpg"></div>
        <div class="info">
          <h3>Dev</h3>
          <p style="text-align: center;">HEAD AGENT</p>
          <div class="share" style="text-align: center ; width: 100%;">
            <a style="cursor: pointer;" class="fab fa-facebook-f"></a>
            <a style="cursor: pointer;" class="fab fa-pinterest"></a>
            <a style="cursor: pointer;" class="fab fa-instagram"></a>
            <a style="cursor: pointer;" class="fab fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image"> <img src="images/agents/2.jpg"></div>
        <div class="info">
          <h3>Monika</h3>
          <p style="text-align: center;">HEAD AGENT</p>
          <div class="share" style="text-align: center ; width: 100%;">
            <a style="cursor: pointer;" class="fab fa-facebook-f"></a>
            <a style="cursor: pointer;" class="fab fa-pinterest"></a>
            <a style="cursor: pointer;" class="fab fa-instagram"></a>
            <a style="cursor: pointer;" class="fab fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image"> <img src="images/agents/5.jpg"></div>
        <div class="info">
          <h3>John</h3>
          <p style="text-align: center;">HEAD AGENT</p>
          <div class="share" style="text-align: center ; width: 100%;">
            <a style="cursor: pointer;" class="fab fa-facebook-f"></a>
            <a style="cursor: pointer;" class="fab fa-pinterest"></a>
            <a style="cursor: pointer;" class="fab fa-instagram"></a>
            <a style="cursor: pointer;" class="fab fa-twitter"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="about-agent">
      <h1 class="headingss"><span>What Is A Real Estate Agent?</span></h1>
      <div class="agents-what-is">
        <p>A real estate agent is someone who helps people to either buy or sell a home or a piece of property.
          This may
          range from humble plots of land and small starter homes to exotic islands and luxury mansions. One can work
          either as a listing agent, to help a client sell a home, or as a buyer's agent, to help the client buy a
          home.<br><br>
          Real estate agents are employed worldwide as the need for buying and selling homes and property has always
          existed and will continue to do so. It is a good business if you are honest and loyal to your client.</p>
        <img src="/images/agents/6-1.jpg" alt="" class="image">
      </div>
    </div>
    <div class="about-agent">
      <h1 class="headingss"><span>Whats A Real Estate Agent Do?</span></h1>
      <div class="agents-what-do">
        <img src="/images/agents/7.jpg" alt="" class="image">
        <p>Real estate agents are knowledgeable about their local laws on the buying and selling of property. The
          geographical area that an agent works in is their area of expertise. They know trends within the local
          property market as well as what competitive prices are for the various properties their clients want to buy or
          sell.
          <br> <br>
          A real estate agent acts as the middleman, or broker, between two parties seeking to buy or sell a property.
          Real estate agents have the skill and expertise to either market the property and sell for the best possible
          price and conditions, or to look for property that suits a client's needs and buy it at the best price
          possible with the most favourable terms.
          <br><br>
          Negotiation is a key part of the real estate agent's work, as they act as the intermediary between buyer and
          seller and will often negotiate on their client's behalf. Real estate agents will charge a percentage of the
          final sale price as their fee.
        </p>
      </div>

    </div>

  </section>
  <%- include ("footer.ejs") %>
</body>
<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
<!--jq cnd link-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--custom js link-->
<script src="js/main.js"></script>

</html>