 <section class="about" id="about">
    <h1 class="heading"><span>about us</span></h1>
    <div class="row">

      <div class="content">
        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae molestiae excepturi sed laudantium
          exercitationem</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptate eaque, harum excepturi rerum
          dolorum!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab corrupti esse delectus, ut hic nulla nihil sit
          praesentium architecto numquam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptate eaque, harum excepturi rerum
          dolorum!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab corrupti esse delectus, ut hic nulla nihil sit
          praesentium architecto numquam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptate eaque, harum excepturi rerum
          dolorum!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab corrupti esse delectus, ut hic nulla nihil sit
          praesentium architecto numquam.</p>
        <a href="/properties"> <button class="btnn">Browse Home <i class="fas fa-arrow-circle-right"></i></button> </a>
      </div>
      <div class="image">
        <img src="/images/about.jpg">
      </div>
    </div>
  </section>