<section class="about" id="about">
  <h1 class="heading"><span>about us</span></h1>
  <div class="row">

    <div class="content">
      <h3>Welcome.</h3>
      <p>Launched in 2021.<span style="text-decoration: underline !important;">"Created by Suryawanshi Ranjit"</span>, <span class="span0">Property</span><span class="span1">Expert.com</span>, India’s No. 1
        property portal, deals with every aspect of the consumers’ needs
        in the real estate industry. It is an online forum where buyers, sellers and brokers/agents can exchange
        information about real estate properties quickly, effectively and inexpensively. At <span
          class="span0">Property</span><span class="span1">Expert.com</span>, you can
        advertise a property, search for a property, browse through properties, build your own property microsite, and
        keep yourself updated with the latest news and trends making headlines in the realty sector.</p>
      <a href="/properties"> <button class="btnn">Browse Home <i class="fas fa-arrow-circle-right"></i></button> </a>
    </div>
    <div class="image">
      <img src="/images/about.jpg">
    </div>
  </div>
</section>