<footer class="footer">
  <div class="footer__addr footer__marg">
    <h1 class="footer__logo"><span>Property</span>Experts.Com</h1>
    <h2 class="footer__logo__des">Whether you’re buying, selling or renting,<br> we can help you move forward.</h2>

  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Quick Links</h2>

      <ul class="nav__ul">
        <li><a href="/"> home </a></li>
        <li><a href="/aboutmore"> about </a></li>
        <li><a href="/properties"> property </a></li>
        <li><a href="/contact"> Contact us </a></li>
        <li><a href="/deptlogin"> Department Login </a></li>
      </ul>
    </li>



    <li class="nav__item">
      <h2 class="nav__title">contact details</h2>

      <ul class="nav__ul nav__last">
        <li>
          <a><i class="fas fa-phone"></i> +91 123-456-78-45</a>
        </li>

        <li>
          <a><i class="fas fa-envelope"></i> ranjit@gmail.com</a>
        </li>

        <li>
          <a><i class="fas fa-map-marked-alt"></i> Bhiwandi , Thane</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2021 D.R.E. All rights reserved.</p>
   
    <div class="legal__links">
      <span>Made with <span class="heart">♥</span> by DEV</span>
    </div>
  </div>
</footer>

