<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="/css/homeData.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Admin Panel - Homes Data</title>
</head>
<body>
    <div class="container">

        <div class="head">
            <h1>Homes</h1>
            <h3>Total Homes 5 <span><a href="#" target="_blank" rel="noopener noreferrer"> (view in json format) </a></span></h3>
        </div>
        

    </div>
</body>
</html>