  <section class="testimonials" id="testm">
    <div class="container">
      <h1 class="heading"><span>TESTIMONIAL</span></h1>

      <div id="customers-testimonials" class="owl-carousel">

        <!--TESTIMONIAL 1 -->
        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle image" src="images/testm/Jazmín.png" alt="">
            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize
              resource taxing relationships via premier niche markets. Professionally cultivate.</p>
          </div>
          <div class="testimonial-name">princess Jazmín</div>
        </div>
        <!--END OF TESTIMONIAL 1 -->
        <!--TESTIMONIAL 2 -->
        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle image" src="images/testm/Rapunzel.png" alt="">
            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize
              resource taxing relationships via premier niche markets. Professionally cultivate.</p>
          </div>
          <div class="testimonial-name">princess Rapunzel</div>
        </div>
        <!--END OF TESTIMONIAL 2 -->
        <!--TESTIMONIAL 3 -->
        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle image" src="/images/testm/snow white.jpg" alt="">
            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize
              resource taxing relationships via premier niche markets. Professionally cultivate.</p>
          </div>
          <div class="testimonial-name">princess snow white</div>
        </div>
        <!--END OF TESTIMONIAL 3 -->
        <!--TESTIMONIAL 4 -->
        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle image" src="images/testm/elsa.jpg" alt="">
            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize
              resource taxing relationships via premier niche markets. Professionally cultivate.</p>
          </div>
          <div class="testimonial-name">princess elsa</div>
        </div>
        <!--END OF TESTIMONIAL 4 -->
        <!--TESTIMONIAL 5 -->
        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle image" src="images/testm/arial princess.png" alt="">
            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize
              resource taxing relationships via premier niche markets. Professionally cultivate.</p>
          </div>
          <div class="testimonial-name">arial princess</div>
        </div>
        <!--END OF TESTIMONIAL 5 -->
        <!--TESTIMONIAL 6 -->
        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle image" src="images/testm/Aurora.png" alt="">
            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize
              resource taxing relationships via premier niche markets. Professionally cultivate.</p>
          </div>
          <div class="testimonial-name">princess Aurora</div>
        </div>
        <!--END OF TESTIMONIAL 6 -->
      </div>
    </div>

    </div>
  </section>