body {
    background: rgb(2, 0, 36);
    background: linear-gradient(193deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 93, 1) 52%, rgba(0, 212, 255, 1) 100%);
}

#admin {
    background-image: linear-gradient(to left top, #9d3d3d, #7c3348, #552e46, #332736, #1c1c1c);
    height: max-content;
    width: 80%;
    margin: 1% 0% 1% 10%;
    border-radius: 30px 30px 10px 10px;
    padding: 20px;
    box-shadow: 0 .2rem .5rem black;
}

.headOfPage h1 {
    font-size: 30px;
    font-weight: 800;
    color: whitesmoke;
}

.headOfPage span {
    font-size: 20px;
    font-weight: 700;
    color: rgb(104, 104, 104);
}

.container-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.container-box .box {
    width: 40rem;
    margin: 1.5rem;
    height: max-content;
    border: .2rem solid rgb(255, 255, 255);
    box-shadow: 0 .5rem .5rem black;
}

.container-box .box .headSet {
    font-size: 1.4rem;
    padding: 5px 15px;
}

.container-box .box .headSet h2 {
    color: white;
    font-style: italic;
}

.container-box .box .headSet h4 {
    color: rgb(0, 0, 0) !important;
    font-style: oblique;
}

.container-box .box .mainTot {
    width: 100%;
    display: flex;
    color: white;
    flex-wrap: wrap;
}

.container-box .box .mainTot .leftSide {
    width: 50%;
}

.container-box .box .mainTot .leftSide h1 {
    font-size: 5rem;
    padding: 10px;
}

.container-box .box .mainTot .leftSide h3 {
    font-size: 2.5rem;
    padding: 10px;
}

.container-box .box .mainTot .rightSide {
    width: 50%;
}

.container-box .box .mainTot .rightSide h2 {
    font-size: 11rem;
    text-align: center !important;
}

.container-box .box .des {
    padding: 5px;
    color: rgb(77, 77, 77);
}

.container-box .box .des h5 {
    font-size: 1.3rem;
    margin-top: 10px;
    text-align: center;
}

.btn {
    padding: 10px;
    text-align: center;
}

.btn button {
    border: none;
    font-size: 2.2rem;
    background: none;
}

.btn button a {
    color: aliceblue;
}

.btn button a:hover {
    color: #003a16;
    font-weight: 700;
}

@media (max-width: 786px) {
    #admin {
        width: 90%;
        margin: 1% 0% 1% 5%;
    }
}

@media (max-width: 510px) {
    .container-box .box {
        width: 30rem !important;
    }
    .headOfPage h1 {
        font-size: 20px;
    }
    .headOfPage span {
        font-size: 15px;
    }
    .container-box .box .mainTot .rightSide h2 {
        font-size: 7rem;
    }
    .container-box .box .des h5 {
        font-size: 0.8rem;
    }
    .container-box .box .mainTot .leftSide h1 {
        font-size: 3.5rem;
    }
    .container-box .box .mainTot .leftSide h3 {
        font-size: 1.5rem;
    }
    .container-box .box .headSet {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    #admin {
        width: 100%;
        margin: 1% 0% 1% 0%;
    }
    .container-box .box .mainTot .rightSide h2 {
        font-size: 5rem !important;
    }
}