body {
    background-color: darkcyan;
}

.sec {
    width: 90%;
    margin: 1% 0% 0% 5%;
}

.sec .head {
    text-align: center;
    padding: 10px;
    background: rgb(104, 104, 104);
    border-radius: 20px 20px 0px 0px
}

.sec .head h1 {
    margin: 5px;
    font-size: 3.5rem;
    color: white;
}
.sec .head h2 {
    font-size: 2.5rem;
    color: white;
}

.sec .container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 0% 0% 0% 0%;
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    height: max-content;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    justify-content: center;
}
.sec .box {
    width: 40rem;
    margin: 1% 2% 2% 2%;
    
}

.form .trash {
    
    font-size: 1.7rem;
    color: red;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid rgb(255, 0, 0);
    cursor:pointer;
}
.form .trash:hover {
    background-color: black;

}

.sec .box4User {
    background-color: crimson;
    border-radius: 20px 20px 20px 20px;
    padding: 2px;
}


.sec .box4User .idbox , .sec .box4Owner .idbox {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    /* font-size: 1.6rem; */
    width: 100%;
    padding: 10px;
}

.sec .box4User .idbox h3 , .sec .box4Owner .idbox h3 {
    width: fit-content;
    letter-spacing: 1px;
    background: rgba( 70, 70, 70, 0.70 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.0px );
-webkit-backdrop-filter: blur( 3.0px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 8px;
border-radius: 8px;
color: white;
}

.sec .box4Owner .idbox h3 a {
    color: white;
    cursor: pointer;
}

.sec .box4Owner .idbox h3 a :hover {
    color: rgb(200, 200, 255);
}


.sec .box4User .userName h2 , .box4Owner .OwnerName h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

.box4Owner .OwnerName h2 {
    color: #000000 !important;
}

.boxU {
    display: flex;
    flex-wrap: wrap;
}

.userName , .OwnerName {
    width: 62%;
}
.userName h2 , .OwnerName h2 , .loc h3 {
    font-size: 1.6rem;
    padding: 3px;
    margin-left: 5px;
}


.addition-info {
    width: 38%;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 8px 0 rgba( 31, 38, 135, 0.37 );

    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.addition-info .ans{
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
    border-bottom: 1px solid brown;
}

.addition-info h1 {
    font-size: 1.8rem;
    text-align: center;
}
.addition-info h2 {
    font-size: 1.3rem;
    text-align: center;
}

.sec .box4Owner {
    width: 100%;
    margin-top: 15px;
    padding: 2px;
    border-radius: 20px 20px 20px 20px;
    background: rgba(255, 255, 255, 0.71);
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.userShowInt {
    background-color: rgb(154 154 154 / 36%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    border-radius: 15px;
}

.userShowInt h1 {
    font-size: 1.5rem;
    text-decoration: underline !important;
    cursor: pointer;
}
.userShowInt h1:hover {
    color: rgb(51, 51, 51);
}
.userShowInt h2 {
    font-size: 1.7rem;
    border: 2px solid darkred;
    padding: 10px;
    border-radius: 13px;
    background: #f3f3f3;
    color: red;
    cursor: pointer;
}
