.container-main {
    width: 90%;
    margin: 1% 0% 0% 5%;
    height: max-content;
}

.container-main .head {
    background-image: linear-gradient(to right top, #ee43a4, #e939a7, #e42fab, #dd23af, #d617b4, #cd10ad, #c308a6, #ba009f, #ad008c, #9e007a, #90006a, #81005a);
    padding: 15px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}

.container-main .head h1{
    color: #ffffff;
font-size: 3rem;
}
.container-main .head h2{
    color: #ffffff;
font-size: 2rem;
}
.container-main .head h2 span {
    color: #ffffff;
font-size: 1.5rem;
}

.container-main .head2 {
    background-image: linear-gradient(to left bottom, #ee43a4, #e344a6, #d844a7, #cd45a8, #c146a8, #b843a2, #af409c, #a63d96, #9d3689, #932f7c, #8a286f, #802263);
    border-radius: 0px 0px 15px 15px;

}
.form {
    position: relative;
}
.form .trash {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: red;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid rgb(255, 0, 0);
    cursor:pointer;
}
.form .trash:hover {
    background-color: black;

}


@media (max-width : 526px) {

    .property .glass {
        margin: 5px !important;
        font-size: 10px !important;
    }
    .property .img-con .image img {
        height: 22rem;
    }
    .container-main {
        width: 100% !important;
        margin: 0 !important;
    }
    .property .img-con .image {
        width: 29rem !important;
    }
    .property .glass {
        font-size: 1rem !important;
    }
    .property .img-con .image .view {
        font-size: 1.5rem;
    }
}