.property {
    min-height: 100vh;
}

.property .conatiner {
    display: flex;
    margin-bottom: 1rem;
}

.property .glass {
    width: max-content;
    margin: 8px;
    font-weight: 700 !important;
    font-size: 1.4rem !important;
    background: rgba( 255, 255, 255, 0.60);
    box-shadow: 0 4px 8px 0 rgba( 31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.slogan h2 {
    margin-top: 3.7rem;
    text-align: center;
    color: #333;
    word-spacing: 5px;
    font-family: 'Kaushan Script', cursive;
    font-size: 3.7rem;
}

.slogan h3 {
    color: #252525;
    margin-top: .5rem;
    text-align: center;
    font-size: 3.2rem;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-family: 'Pattaya', sans-serif;
}

.building-name {
    text-decoration: underline !important;
    font-weight: 200;
    font-size: 2rem !important;
    word-spacing: 1px;
    color: rgb(48, 48, 48) !important;
}

span i {
    color: #747474;
    font-size: 3em;
}

span i:hover {
    cursor: pointer;
    color: rgb(61, 61, 61);
}

.property .control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    list-style: none;
}

.property .control .button {
    margin: 1rem 2rem;
    padding: .5rem 0;
    border-bottom: .2rem solid #333;
    cursor: pointer;
    font-size: 2rem;
}

.property .control .button.button-active,
.property .control .button:hover {
    color: var(--red);
}

.property .img-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.property .img-con .image {
    width: 45rem;
    margin: 1.52rem;
    position: relative;
    height: 42rem;
    border: 1rem solid rgb(255, 255, 255);
    box-shadow: 0 .5rem .5rem black;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 26px 0 rgba( 31, 38, 135, 0.37);
    border-radius: 7.5px;
}

.property .stick_to_bo {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.property .img-con .image img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    transition: ease-in 2s;
}

.property .img-con .image:hover>img {
    object-fit: fill;
}

.property .img-con .image p {
    font-size: 1.6rem;
    color: #333;
    padding: .5rem;
    text-decoration: none !important;
    font-weight: bolder;
}

.property .img-con .image .view {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-decoration: underline !important;
    padding: .5rem;
    margin-top: 10px !important;
}

.property .img-con .image .view:hover {
    color: var(--red);
    text-decoration: underline !important;
}