@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
:root {
    --red: #e84118;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    list-style: none!important;
    outline: none;
    text-transform: capitalize;
    transition: all .2s cubic-bezier(.37, 1.14, .26, 1.24);
}

*::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e26e51;
    border-radius: 6px;
}

#no_data {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}